<ng-template #cardContent>
  <mat-card-content class="stat-card__content">
    <div class="stat-card__icon">
      <ng-content />
    </div>
    <div class="stat-card__text">
      <span class="stat-card__value">{{ value() }}</span>
      <span class="stat-card__label">{{ label() }}</span>
      @if (hint()) {
        <span class="stat-card__hint">{{ hint() }}</span>
      }
    </div>
  </mat-card-content>
</ng-template>

@if (link()) {
  <a [routerLink]="link()" class="stat-card stat-card--link">
    <mat-card appearance="outlined">
      <ng-container [ngTemplateOutlet]="cardContent" />
    </mat-card>
  </a>
} @else {
  <mat-card appearance="outlined" class="stat-card">
    <ng-container [ngTemplateOutlet]="cardContent" />
  </mat-card>
}
