<mat-toolbar class="topbar">
  @if (showMenuButton()) {
    <button
      mat-icon-button
      type="button"
      [attr.aria-label]="'topbar.openMenu' | translate"
      (click)="menuToggle.emit()"
    >
      <svg lucideMenu [size]="22" aria-hidden="true"></svg>
    </button>
  } @else {
    <button
      mat-icon-button
      type="button"
      [attr.aria-label]="(sidebarCollapsed() ? 'topbar.expandNavigation' : 'topbar.collapseNavigation') | translate"
      [matTooltip]="(sidebarCollapsed() ? 'topbar.expandNavigation' : 'topbar.collapseNavigation') | translate"
      (click)="collapseToggle.emit()"
    >
      @if (sidebarCollapsed()) {
        <svg lucidePanelLeftOpen [size]="20" aria-hidden="true"></svg>
      } @else {
        <svg lucidePanelLeftClose [size]="20" aria-hidden="true"></svg>
      }
    </button>
  }

  <span class="topbar__title">JAPP</span>

  <span class="topbar__spacer"></span>

  <app-nav-search [compact]="showMenuButton()" />

  <app-notification-bell />

  <app-theme-toggle />

  <app-user-menu />
</mat-toolbar>
