<button
  mat-icon-button
  type="button"
  [matMenuTriggerFor]="menu"
  [matTooltip]="'userMenu.account' | translate"
  [attr.aria-label]="'userMenu.account' | translate"
>
  <span class="user-menu__avatar" aria-hidden="true">{{ initial() }}</span>
</button>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item type="button" routerLink="/settings">
    <svg lucideUser [size]="18" class="user-menu__item-icon" aria-hidden="true"></svg>
    <span>{{ 'userMenu.profile' | translate }}</span>
  </button>
  <button mat-menu-item type="button" (click)="logout()">
    <svg lucideLogOut [size]="18" class="user-menu__item-icon" aria-hidden="true"></svg>
    <span>{{ 'userMenu.logout' | translate }}</span>
  </button>
</mat-menu>
